/* ============================================= */
/* Color Variables */
/* ============================================= */

$primary-color: red;
$secondary-color: #51ddfc;
$base-color: #fff;
$main-font-color: #777;
$border-color: #ccc;

/* ============================================= */
/* Media Query Breakpoint Variable */
/* ============================================= */

$layout-breakpoint-minimum: 768px;
