/* ============================================= */
/* Color */
/* ============================================= */

$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$base-color: #fff;
$main-font-color: #777;
$border-color: #ccc;

/* ============================================= */
/* Media Query Breakpoint */
/* ============================================= */

$layout-breakpoint: 768px;
